<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="header">New author</div>
    <div th:if="${error != null}">
        <b th:text="${error}">Error</b>
    </div>
    <div th:if="${error == null}">
        <form id="edit-form" th:action="@{/addAuthor}" method="post" action="addAuthor.html">
            <table class="tableEdit">
                <tbody>
                <tr>
                    <td>Surname:</td>
                    <td><input id="surname-input" name="surname" type="text"/></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input id="name-input" name="name" type="text"/></td>
                </tr>
                <tr>
                    <td>Patronymic:</td>
                    <td><input id="patronymic-input" name="patronymic" type="text"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btnAction" type="submit">Save</button>
                        <button class="btnAction" type="button" onclick="window.location.href='authors.html'"
                                th:onclick="window.location.href='/authors'">Cancel
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>