<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="header">Book details</div>
    <div th:if="${error != null}">
        <h1 th:text="${error}">Error</h1>
    </div>
    <div th:if="${error == null}" th:object="${book}">
        <table class="table">
            <tbody>
            <tr>
                <td><b>Id:</b></td>
                <td th:text="*{id}">1</td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td th:text="*{name}">Java concurrency in practice</td>
            </tr>
            <tr>
                <td><b>ISBN:</b></td>
                <td th:text="*{isbn}">100200</td>
            </tr>
            <tr>
                <td><b>Genres:</b></td>
                <td>
                    <p th:each="genre : *{genresList}" th:text="${genre.name}">Programming</p>
                </td>
            </tr>
            <tr>
                <td><b>Authors:</b></td>
                <td>
                    <p th:each="author : *{authorsList}" th:text="${author.surname} + ' ' + ${author.name}">Brian
                        Goetz</p>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${action == null}">
            <h2>Add Comment:</h2>
            <form name="add-comment" action="bookDetails.html" th:action="@{/addComment(bookId=*{id})}" method="post">
                <table class="tableEdit">
                    <tbody>
                    <tr>
                        <td>Text:</td>
                        <td><textarea name="commentText" cols="50" rows="3"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btnAction" type="submit">Add comment</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div th:if="${action == 'updateComment'}">
            <h2>Update Comment:</h2>
            <form name="update-comment" action="bookDetails.html"
                  th:action="@{/updateComment(bookId=*{id},commentId=${comment.id})}" method="post">
                <table class="tableEdit">
                    <tbody>
                    <tr>
                        <td>Author:</td>
                        <td><span th:text="${comment.author}">User 1</span></td>
                    </tr>
                    <tr>
                        <td>Text:</td>
                        <td><textarea name="commentText" cols="50" rows="3" th:text="${comment.text}"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btnAction" type="submit">Save comment</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div th:unless="${#lists.isEmpty(comments)}">
            <h2>Comments: </h2>
            <table class="table" cellpadding="10">
                <tbody>
                <tr th:each="comment: ${comments}">
                    <td>
                        <div>Author: <span th:text="${comment.author}">user1</span><br/>
                            Time: <span th:text="${comment.time}">2022-01-18 18:20:00</span><br/>
                            Text: <span th:text="${comment.text}">Text comment</span><br/>
                            <span th:if="${#authentication.name == comment.author}">
                            <a href="bookDetails.html"
                               th:href="@{/updateComment(bookId=${book.id},commentId=${comment.id})}">Update</a> |
                            </span>
                            <span th:if="${#authentication.name == comment.author || #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <a href="bookDetails.html"
                               th:href="@{/deleteComment(bookId=${book.id},commentId=${comment.id})}">Delete</a>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>