<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="header" th:text="${source}">Books</div>
    <div class="container" th:if="${error != null}">
        <h1 th:text="${error}">Error</h1>
    </div>
    <div th:if="${error == null}">
        <p sec:authorize="hasRole('ROLE_ADMIN')"><a href="hewBook.html" th:href="@{/newBook}">New book</a></p>
        <div th:if="${books.size() == 0}">Books not found</div>
        <div th:if="${books.size() > 0}">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>ISBN</th>
                    <th>Authors</th>
                    <th>Genres</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">1</td>
                    <td th:text="${book.name}">Java concurrency in practice</td>
                    <td th:text="${book.isbn}">12345</td>
                    <td><p th:each="author : ${book.authorsList}" th:text="${author.name} + ' ' + ${author.surname}">
                        Brian Goetz</p></td>
                    <td><p th:each="genre : ${book.genresList}" th:text="${genre.name}">Programming</p></td>
                    <td><a href="/bookDetails.html" th:href="@{/bookDetails(id=${book.id})}">Show comments</a>
                        <span sec:authorize="hasRole('ROLE_ADMIN')">
                            | <a href="/editBook.html" th:href="@{/editBook(id=${book.id})}">Update</a>
                            | <a href="/deleteBook.html" th:href="@{/deleteBook(id=${book.id})}">Delete</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>