<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<p><a href="/booksList.html" th:href="@{/books}">Books</a> | <a href="/authorsList.html" th:href="@{/authors}">Authors</a> | <a href="/genres.html" th:href="@{/genres}">Genres</a></p>
<div th:if="${error != null}">
    <h1 th:text="${error}">Error</h1>
</div>
<div th:if="${error == null}">
    <h1>Creation author</h1>
    <form id="edit-form" th:action="@{/addAuthor}" method="post" action="addAuthor.html">
        <table>
            <tbody>
            <tr>
                <td>Surname:</td>
                <td><input id="surname-input" name="surname" type="text"/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input id="name-input" name="name" type="text"/></td>
            </tr>
            <tr>
                <td>Patronymic:</td>
                <td><input id="patronymic-input" name="patronymic" type="text"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Save</button> <button type="button" onclick="window.location.href='authors.html'" th:onclick="window.location.href='/authors'">Cancel</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>