<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="header">Genres</div>
    <div class="container" th:if="${error != null}">
        <h1 th:text="${error}">Error</h1>
    </div>
    <div th:if="${error == null}">
        <p><a href="newGenre.html" th:href="@{/addGenre}">New genre</a></p>
        <div th:if="${genres.size() == 0}">Genres not found</div>
        <div th:if="${genres.size() > 0}">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Books</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre : ${genres}">
                    <td th:text="${genre.id}">1</td>
                    <td th:text="${genre.name}">Programming</td>
                    <td><a href="/books.html" th:href="@{/books(genre=${genre.id})}">Books list</a></td>
                    <td><span><a href="/editGenre.html" th:href="@{/editGenre(id=${genre.id})}">Update</a> | <a
                            href="/deleteGenre.html" th:href="@{/deleteGenre(id=${genre.id})}">Delete</a></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>